<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ReportingManager.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/RestfulBookerApiEndToEndTestFramework/pom.xml">
        <classes>
                <class name="TicketBooking.BookingTests">
                    <methods>
                        <include name="createBookingTest"></include>
                    </methods>
                </class>
       </classes>
    </test>
</suite>